<!DOCTYPE html>
<html>

<head>
    <title>Nora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Raleway', sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; margin-left: 3%;">
        <img src="images/sprout.png" width="40" style="margin-right: 3%;">
        <a class="navbar-brand" href="#" style="color:black; font-size: 30px; margin-right: 3%;">Nora</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="width: 80%;">
                <li class="nav-item" style="margin-right: 3%; margin-left: 2%;">
                    <a class="nav-link" href="#">Why Nora</a>
                </li>
                <li class="nav-item" style="margin-right: 3%;">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item" style="margin-right: 3%;">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-right: 2%;" action="/loginPage">
                <button class="btn my-2 my-sm-0" type="submit">Login</button>
            </form>
            <form class="form-inline my-2 my-lg-0" action="/signupPage">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm" style="margin-top: 20vh;">
                <div style="font-size: 52px;">Build Relationships.</div>
                <p style="width: 80%;margin-top: 5px;">Nora helps you build proactive relationships to help you build a strong educational community. With gentle nudes, a touch of AI, and a lot of love, Nora will build relationships for years to come.</p>
                <br>
                <form class="form-inline my-2 my-lg-0" action="/signupPage">
                    <input class="form-control mr-sm-2" type="search" placeholder="Email Address" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Started</button>
                </form>
            </div>
            <div class="col-sm" style="margin-top: 20vh;">
                <div>
                    <embed src="images/home.svg" style="width: 90%;">
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">

                <small class="d-block mb-3 text-muted" style="margin-left: 3%;">&copy; 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>