<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SproutCRM</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div class="mainNav">
        <select class="dropdown" id="schoolSelect">
            <!-- <option value="" disabled selected>Select A School</option> -->
        </select>
        <div class="searchbar">
            <img src="./icons/search.png" width="20" id="searchIcon">
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
        <button class="menuButton">
            <img src="./icons/plus.png" width="20">
        </button>
        <button class="menuButton">
            <img src="./icons/calendar.png" width="20">
        </button>
        <button class="menuButton">
            <img src="./icons/question.png" width="20">
        </button>
    </div>
    <div class="backgroundMain">
    </div>
    <div id="mainBar">
        <div id="header">
            <img class="navbar-brand" src="./logo/sprout.png" width="37">
            <div class="logotext">SproutCRM</div>
        </div>
        <div class="image-cropper">
            <img id="profileImg" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiBAAAAJDg0OGU4NjBjLWE5Y2UtNGY1Yi1iNjY1LTgxODA0Mjc5NGMyZQ.jpg" class="rounded" />
        </div>
        <div class="name" id="userName">Anirudh Kulkarni</div>
        <br>
        <div class="menu">
            <form action="/main">
                <button class="menuItem">
                    <img class="menuItemLogo" src="./icons/house-128.png">
                    <div class="menuItemText">Home</div>
                </button>
            </form>
            <form action="/pipeline">
                <button class="menuItem">
                    <img class="menuItemLogo" src="./icons/pipe.svg">
                    <div class="menuItemText">Pipeline</div>
                </button>
            </form>
            <button class="menuItem">
                <img class="menuItemLogo" src="./icons/mail.svg">
                <div class="menuItemText">Marketing</div>
            </button>
            <button class="menuItem">
                <img class="menuItemLogo" src="./icons/calendar.svg">
                <div class="menuItemText">Calendar</div>
            </button>
            <button class="menuItem">
                <img class="menuItemLogo" src="./icons/pie-chart.svg">
                <div class="menuItemText">Reporting</div>
            </button>
            <button class="menuItem">
                <img class="menuItemLogo" src="./icons/user.svg">
                <div class="menuItemText">Admin</div>
            </button>
            <form action="/logout">
                <button class="menuItem">
                    <img class="menuItemLogo" src="./icons/exit.svg">
                    <div class="menuItemText">Logout</div>
                </button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>